:root{
  --bg-grey: #D4DADA;
  --logo-blue: #B7E0DC;
  --logo-orange: #F9CFA5;
  --text-light-grey: #909090;
  --text-dark-grey: #575757;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--text-dark-grey);
}

p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-dark-grey);
}
/* 
.App {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form-div{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  /* width: 25vw;
  max-width: 20em;
  height: 30vh;
  max-height: 30em; */
  /* aspect-ratio: 25/30; */
  padding: 4em 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-header-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-inputs-div{
  display: flex;
  max-width: 15em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-header-text{
  margin-top: 0;
  text-align: center;
}

.form-text-input{
  border-width: 0px 0px 1px 0px;
  display: block;
  width: 100%;
  border-color: var(--text-light-grey);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0.75em 0;
  margin: 1em 0;
}

.decorative-button{
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(60deg, var(--logo-blue), var(--logo-orange));
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 20px;
  width: 100%;
  max-width: 13em;
  padding: 0.75em;
  margin-top: 2em;
  text-align: center;
  cursor: pointer;
}

.negative-decorative-button{
  background: linear-gradient(white, white) padding-box,
  linear-gradient(60deg, var(--logo-blue), var(--logo-orange)) border-box;
  border-radius: 30px;
  border: 2px solid transparent;
  color: var(--text-light-grey);
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 20px;
  width: 100%;
  max-width: 13em;
  padding: 0.75em;
  margin-top: 2em;
  text-align: center;
  cursor: pointer;
}

.small-button{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-light-grey);
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;
  margin: 0.5em;
}

#heart-image{
  width: 3em;
}

#logo-image-div{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: -100;
  scale: 0.8;
}

input[type=number]{
  width: 30%;
  height: 20px;
  border: 1px solid #880808;
  border-radius: 2px;
  font-weight: 200;
  color: black;
  display: inline-block;
  float: right;
}

label{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-dark-grey);
  justify-self: left;
  display: inline-block;
  float: left;
  clear: right;
  width: 200px;
  text-align: left;
}